* {
  font-family: ftv;
}

:root {
  touch-action: pan-x pan-y;
  height: 100%;
}

html {
  margin:    0 auto;
  max-width: 1920px;
}

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
  cursor: default;
  background-color: #486EDD;
}

h1,
h2,
h3,
h4 {
  overflow: hidden;
}

a {
  cursor: pointer !important;
}

/* fonts */

@font-face {
  font-family: "ftv";
  src: url("font/fvp.OTF");
}

@font-face {
  font-family: "geomanist";
  src: url("font/geomanist.otf");
}

/* navbar */

.navbar {
  padding: 45px 25px 35px;
  display: flex;
  justify-content: space-evenly;
  font-size: 200%;
  flex-wrap: wrap;
}

.navbar a:hover {
  cursor: pointer;
  color: #a65b3a;
}

.background-wood {
  background-image: url("./img/nav.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1280px) {
  .background-wood {
    background-image: url("./img/nav.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: -50px;
    margin-left: 20px;
  }

  .navbar {
    margin-top: -20px;
  }
}

@media (min-width: 1600px) {
  .background-wood {
    margin-left: 60px;
  }
}

.navbar-background {
  background-image: url("./img/fondo-playa.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.navbar a {
  text-decoration: none;
  color: #813b1a;
  font-weight: 400;
}

.navbar img {
  width: 200px;
}

@media (max-width: 760px) {
  .navbar {
    font-size: 1rem;
    padding: 35px 0;
  }
}

@media (max-width: 1024px) {
  .navbar-background {
    background-image: url("./img/fondo-playa.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -20px;
  }
}

@media (min-width: 1280px) {
  .navbar-background {
    background-image: url("./img/fondo-playa.png") center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

/* header */

.header {
  padding-bottom: 500px;
  margin-top: 20px;
  margin-left: 150px;
}

.grupo1 {
  margin-left: -60px;
}

.contenedor-imagenes-2 .imagen-001 {
  margin-left: -180px;
  margin-top: 40px;
}

.contenedor-imagenes-2 .imagen-002 {
  padding-top: -200px;
  z-index: 1;
  margin-top: 150px;
}

.contenedor-imagenes-2 .imagen-003 {
  margin-left: 230px;
  margin-top: 80px;
}

.grupo2 {
  margin-top: 150px;
  margin-right: -170px;
  margin-left: 70px;
  overflow-x: hidden;
}

.contenedor-imagenes .imagen-01 {
  margin-left: -180px;
  margin-top: 20px;
}

.contenedor-imagenes .imagen-02 {
  margin-top: -30px;
}

.contenedor-imagenes .imagen-03 {
  margin-left: 230px;
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .header {
    margin-left: 250px;
  }
}

@media (max-width: 414px) {
  .header {
    margin-top: 100px;
  }

  .grupo1 {
    margin-left: -60px;
    margin-top: 300px;
  }

  .contenedor-imagenes-2 .imagen-001 {
    width: 270px;
    margin-left: -100px;
    margin-top: 90px;
  }

  .contenedor-imagenes-2 .imagen-002 {
    width: 200px;
    margin-top: 250px;
  }

  .contenedor-imagenes-2 .imagen-003 {
    width: 250px;
    margin-left: 100px;
  }

  .grupo2 {
    margin-top: -380px;
    margin-left: -460px !important;
  }

  .contenedor-imagenes .imagen-01 {
    width: 310px;
    margin-left: -60px;
    margin-top: -30px;
  }

  .contenedor-imagenes .imagen-02 {
    width: 310px;
    margin-left: 20px;
  }

  .contenedor-imagenes .imagen-03 {
    width: 310px;
    margin-left: 80px;
    margin-top: 40px;
  }
}

@media (max-width: 1024px) {
  .grupo1 {
    margin-left: -60px;
    margin-top: 350px;
  }

  .grupo2 {
    margin-top: -20px;
    margin-left: -240px;
  }

  .contenedor-imagenes .imagen-01 {
    width: 280px;
  }

  .contenedor-imagenes .imagen-03 {
    width: 330px;
  }
}

/* textos pergamino */

.textos-pergamino .titles p {
  font-size: 34px;
  overflow: hidden;
  color: #813b1a;
}

.textos-pergamino .titles {
  z-index: 1000;
  margin-left: 35px;
  position: relative;
  line-height: 35px;
}

.textos-pergamino {
  margin-top: 190px;
  overflow: hidden;
}

.button3 {
  box-shadow: 0px 3px 0px 0px #e3c18a;
  background: linear-gradient(to bottom, #007cc4 5%, #0095f9 100%);
  background-color: #007cc4;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 34px;
  padding: 12px 60px 12px 60px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.button3:hover {
  background: linear-gradient(to bottom, #0095f9 5%, #007cc4 100%);
  background-color: #0095f9;
}
.button3:active {
  position: relative;
  top: 1px;
}

.button4 {
  box-shadow: 0px 3px 0px 0px #e3c18a;
  background: linear-gradient(to bottom, #db181f 5%, #f00d24 100%);
  background-color: #db181f;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 34px;
  padding: 12px 25px 12px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.button4:hover {
  background: linear-gradient(to bottom, #f00d24 5%, #db181f 100%);
  background-color: #f00d24;
}
.button4:active {
  position: relative;
  top: 1px;
}

.titles a {
  color: white;
}

/* navbar-hero */

.navbar-hero {
  padding: 45px 0px 35px;
  font-family: geomanist;
  font-size: 200%;
  flex-wrap: wrap;
  color: white;
  margin-bottom: 120px;
  overflow-x: hidden;
}

.background-azul {
  background-image: url("./img/fondos-azules/01.png");
  background-size: cover;
  height: 70px;
  cursor: default;
}

.navbar-hero .background-azul a {
  margin-top: 15px;
  display: block;
  text-decoration: none;
  color: white;
  z-index: 1000;
  cursor: pointer;
}

.navbar-hero .background-azul a:hover {
  color: #9da5f3;
}

@media (max-width: 760px) {
  .navbar-hero {
    font-size: 1rem;
    padding: 35px 0;
  }
}

/* NFT play to earn */

#arrow-green {
  cursor: pointer;
}

#harbour {
  font-size: 19px;
  margin-top: 12px;
}

.letrero-0 {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 3.5rem;
  padding: 100px 0px 100px 0;
  overflow-x: hidden;
  pointer-events: none;
}

.letrero-0 {
  background-image: url("./img/letreros/letrero-00.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 150px;
  margin-bottom: 60px;
  overflow-x: hidden;
  pointer-events: none;
}

@media (min-width: 1600px) {
  .letrero-0 {
    background-image: url("./img/letreros/letrero-00.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 150px;
    margin-bottom: 80px;
  }
}

.cards-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  overflow-x: hidden;
}

.card {
  max-width: 32%;
  text-align: center;
  border: none;
  background: none;
}

.left {
  position: absolute;
  left: 50px;
  top: 50%;
  cursor: pointer;
}
.right {
  position: absolute;
  right: 50px;
  top: 50%;
  cursor: pointer;
}

.left:hover {
  cursor: pointer;
  width: 52px;
}

.right:hover {
  cursor: pointer;
  width: 52px;
}

.character {
  margin-left: 63px;
}

@media (max-width: 760px) {
  .letrero-0 {
    font-size: 2rem;
  }
  .card {
    max-width: unset;
  }
  .left {
    left: 30px;
    cursor: pointer;
  }
  .right {
    right: 30px;
    cursor: pointer;
  }
}

.letrero-01 {
  background-image: url("./img/letreros/letrero-0.png");
  background-size: cover;
  width: 180px;
  height: 60px;
  overflow-x: hidden;
}

.letrero-01 span {
  margin-top: 10px;
  display: block;
  font-size: 25px;
  color: #6d3216;
  overflow-x: hidden;
}

.segundo-background {
  background-image: url("./img/fondo-10.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -50px;
  z-index: -1;
  margin-bottom: 30px;
  overflow-x: hidden;
  cursor: default;
}

@media (min-width: 1440px) {
  .segundo-background {
    margin-bottom: 80px;
  }
}

@media (min-width: 1600px) {
  .segundo-background {
    margin-bottom: 130px;
  }
}

/* seccion-cofre */

.seccion-cofre {
  padding: 100px 50px 100px 50px;
  cursor: default;
}

.seccion-cofre h2 {
  overflow: hidden;
  color: white;
  font-size: 60px;
}

.myButton {
  box-shadow: 0px 6px 0px 0px #203393;
  background: linear-gradient(to bottom, #43c50b 5%, #7bf501 100%);
  background-color: #43c50b;
  border-radius: 16px;
  border: 1px solid #18ab29;
  display: inline-block;
  color: #21420d;
  font-size: 55px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #2f6627;
  margin-top: 10px;
  z-index: 1000;
  cursor: pointer;
}
.myButton:hover {
  background: linear-gradient(to bottom, #7bf501 5%, #43c50b 100%);
  background-color: #7bf501;
}
.myButton:active {
  position: relative;
  top: 1px;
}

/* LOGO GRANDE, LETRERO Y BOTON */

.logo-letrero-boton .texto-4-lineas h3 {
  font-weight: 700;
  color: white;
  overflow: hidden;
}

.col-xs-12.col-md-12.col-lg-12.text-center.texto-4-lineas {
  padding: 10px 20px 10px 20px;
}

.col-xs-12.col-md-12.col-lg-12.text-center.yewllow-button {
  padding: 30px 0 200px 0;
}

.myButton2 {
  box-shadow: 0px 6px 0px 0px #082778;
  background: linear-gradient(to bottom, #f1cd3d 5%, #ecb939 100%);
  background-color: #f1cd3d;
  border-radius: 16px;
  display: inline-block;
  color: #ffffff;
  font-size: 55px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #2f6627;
  z-index: 1000;
  cursor: pointer;
}
.myButton2:hover {
  background: linear-gradient(to bottom, #ecb939 5%, #f1cd3d 100%);
  background-color: #ecb939;
}
.myButton2:active {
  position: relative;
  top: 1px;
}

/* fondo cofre */

.fondo-cofre {
  background-image: url("./img/fondo-cofre.png");
  background-size: cover;
  width: 100%;
  margin-top: 490px;
}

@media (min-width: 1280px) {
  .fondo-cofre {
    margin-top: 430px;
  }
}

@media (min-width: 1600px) {
  .fondo-cofre {
    margin-top: 580px;
  }
}

/* partners */

.partners h2 {
  color: white;
  font-size: 3rem;
  padding-top: 90px;
  font-family: ftv;
  padding-bottom: 80px;
}

.partners {
  text-align: center;
  padding: 60px 0 20px 0;
}

.partners-icons {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.partners-icons img {
  width: 330px;
  margin: 20px;
}

@media (max-width: 760px) {
  .partners h2 {
    font-size: 2rem;
  }
}

/* founders */

.founders h2 {
  color: white;
  font-size: 3.5rem;
  margin: 0;
  margin-bottom: 70px;
  font-family: ftv;
}

.founders h3 {
  font-size: 2.5rem;
  margin: 30px;
  font-family: ftv;
  overflow: hidden;
  color: white;
}

.founders {
  text-align: center;
  padding: 70px 0 70px 0px;
}

.founders-box {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

.founder {
  width: 33%;
}

@media (max-width: 1200px) {
  .founder {
    width: unset;
  }
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #0c1a6d;
  padding: 30px 20px 30px 20px;
}
.footer_text {
  text-align: center;
  color: white;
  font-weight: 400;
  padding-top: 30px;
  overflow: hidden;
}

.footer_text a {
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: -2px;
  margin-left: 30px;
  color: white;
  font-weight: 400;
  overflow: hidden;
  padding: 5px;
  font-family: geomanist;
}

.footer_text p {
  font-family: geomanist;
}

.footer img {
  margin: 5px;
}

@media (max-width: 760px) {
  .icons-group {
    display: flex;
    flex-direction: column;
  }

  .footer_text {
    padding-top: 30%;
  }
}

@media (max-width: 1200px) {
  .footer_text h4 {
    margin-left: -15px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .footer_text h4 a {
    margin-bottom: 30px;
  }
}

/* RESPONSIVE MOVIL */

@media (max-width: 414px) {
  .contenedor-imagenes .imagen-03 {
    width: 204px;
    margin-left: 138px;
    margin-top: 53px;
  }

  .contenedor-imagenes .imagen-02 {
    width: 250px;
    margin-left: 50px;
    margin-top: -82px;
  }

  .contenedor-imagenes .imagen-01 {
    width: 198px;
    margin-left: -10px;
    margin-top: 71px;
    z-index: 1;
  }

  .contenedor-imagenes-2 .imagen-003 {
    width: 195px;
    margin-left: 90px;
    transform: rotate(-10deg);
    margin-top: 117px;
  }

  .contenedor-imagenes-2 .imagen-002 {
    width: 250px;
    margin-top: 274px;
    margin-left: -35px;
  }

  .textos-pergamino {
    margin-top: 300px;
    overflow: hidden;
  }

  .textos-pergamino .titles p {
    font-size: 25px;
  }

  .button3 {
    font-size: 24px;
    padding: 12px 21px 12px 21px;
  }

  .button4 {
    font-size: 24px;
    padding: 12px 10px 12px 10px;
    margin-top: 3px;
  }

  .textos-pergamino .titles {
    z-index: 1000;
    margin-left: -3px;
    position: relative;
    line-height: 31px;
  }

  .navbar-background {
    background-position: left;
  }

  .contenedor-imagenes-2 .imagen-001 {
    margin-top: 0px;
  }

  .header {
    padding-bottom: 300px;
    margin-left: 0;
    padding-left: 175px;
  }

  .grupo2 {
    margin-left: -305px !important;
  }

  .navbar-hero {
    font-size: 25px;
    padding-bottom: 284px;
  }

  .navbar-hero .background-azul span {
    margin-top: 20px;
  }

  .segundo-background {
    margin-top: -234px;
  }

  .letrero-0 {
    background-image: url(./img/letreros/letrero-NFT-small.png);
    margin-bottom: -70px;
  }

  .character {
    margin-left: 53px;
  }

  .seccion-cofre h2 {
    font-size: 40px;
  }

  .seccion-cofre {
    padding: 50px 00px 100px 0px;
  }

  .myButton {
    font-size: 35px;
  }

  .seccion-cofre img {
    width: 300px;
    margin-top: 50px;
  }

  .logo-letrero-boton img {
    width: 400px;
    margin-left: -20px;
    margin-top: -30px;
  }

  .myButton2 {
    font-size: 35px;
  }

  .background-azul {
    background-image: url(./img/fondos-azules/01.png);
    background-size: contain;
    height: 70px;
    background-repeat: no-repeat;
    margin-left: 20px;
  }

  .segundo-background {
    background-size: auto;
    margin-bottom: 74px;
  }

  .fondo-cofre {
    margin-top: 126px;
  }

  .roadmap img {
    margin-left: -19px;
  }

  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
}

@media (min-width: 375px) {
  .letrero-0 {
    margin-top: 66px;
  }
}

/* RESPONSIVE TABLET */

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .button3 {
    font-size: 34px;
    padding: 12px 40px 12px 40px;
  }

  .navbar-hero {
    padding: 35px 0px 181px;
    font-family: geomanist;
    font-size: 22px;
    flex-wrap: wrap;
    color: white;
    margin-bottom: -130px;
  }

  .background-azul {
    height: 60px;
  }

  .seccion-cofre h2 {
    font-size: 42px;
  }

  .myButton {
    font-size: 35px;
  }

  .seccion-cofre img {
    width: 350px;
  }

  .logo-letrero-boton img {
    width: 600px;
    margin-left: -20px;
    margin-top: -30px;
  }

  .segundo-background {

      background-size: cover;
      padding-bottom: 680px;
      margin-top: 30px;

  }

  .segundo-background {
    background-size: cover;
    padding-bottom: 678px;
  }

  .roadmap img {
    margin-top: -600px;
  }

  .fondo-cofre {
    background-image: url(./img/fondo-cofre.png);
    background-size: cover;
    width: 100%;
    margin-top: -256px;
  }

  .partners {
    padding: 200px 0 20px 0;
  }

  .character {
    margin-left: 38px;
  }

  .letrero-0 {
    margin-top: 68px;
    margin-bottom: -20px;
}

}

/* RESPONSIVE DESKTOP */

@media (min-width: 1280px) {
  .navbar img {
    margin-top: -20px;
  }

  .navbar a {
    margin-top: -30px;
  }

  .button3 {
    font-size: 34px;
    padding: 12px 42px 12px 42px;
    margin-bottom: 15px;
  }

  .header {
    padding-bottom: 180px;
  }

  .navbar-background {
    background-image: url(./img/fondo-playa.png) center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
  }

  .fondo-cofre {
    margin-top: 600px;
  }

  /* modificaciones de Juan */

  .grupo2 {
    margin-top: 120px;
  }

  .contenedor-imagenes .imagen-03 {
    width: 320px;
    margin-left: 200px;
  }

  .contenedor-imagenes .imagen-02 {
    width: 330px;
  }

  .contenedor-imagenes .imagen-01 {
    width: 310px;
  }

  .character {
    margin-left: 54px;
  }

  .seccion-cofre h2 {
    font-size: 55px;
  }

  .myButton {
    font-size: 40px;
  }

  .seccion-cofre img {
    width: 370px;
  }

  .logo-letrero-boton img {
    width: 600px;
  }

  .myButton2 {
    font-size: 40px;
  }
}

@media (min-width: 1440px) {
  .fondo-cofre {
    margin-top: 670px;
  }

  .navbar a {
    margin-top: -20px;
  }

  .character {
    margin-left: 63px;
  }
}

@media (min-width: 1600px) {
  .fondo-cofre {
    margin-top: 780px;
  }
}

@media (min-width: 1920px) {
  .background-wood {
    margin-left: 197px;
    margin-right: 191px;
  }

  .grupo1 {
    margin-left: 100px;
    margin-top: 100px;
  }

  .grupo2 {
    margin-top: 240px;
    margin-left: 70px;
  }

  .navbar-background {
    padding-bottom: 140px;
  }
}

/* @media (min-width: 2560px) {
  .background-wood {
    margin-left: 542px;
    margin-right: 427px;
  }

  .grupo1 {
    margin-left: 99px;
    margin-top: 311px;
  }

  .grupo2 {
    margin-top: 205px;
  }

  .navbar-hero {
    margin-bottom: 403px;
    padding: 31px 0px 35px;
  }

  .navbar-background {
    padding-bottom: 60px;
  }

  .letrero-0 {
    margin-top: 61px;
    padding-bottom: 231px;
  }

  .fondo-cofre {
    margin-top: 1267px;
  }
} */
